body{
    background: #363062;
}

.container{
    max-width: 700px;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background: #4d4c7d;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}